In [1]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/ekubanDev/ds-portfolio-/main/mock_dataset.csv"
df = pd.read_csv(url)

In [5]:
df.head()

    id first_name last_name                     email      ip_address
0  235     Lexine    Daouse       ldaouse0@ebay.co.uk   240.12.57.166
1  236    Romonda  Eberlein  reberlein1@angelfire.com  218.58.197.224
2  237     Joanie      Khan      jkhan2@mediafire.com   161.5.165.102
3  238     Joelly   Neising     jneising3@dedecms.com   236.85.227.55
4  239    Wilfrid   Bifield    wbifield4@engadget.com  93.178.125.245

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   ip_address  100 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [7]:
df.describe()

               id
count  100.000000
mean   284.500000
std     29.011492
min    235.000000
25%    259.750000
50%    284.500000
75%    309.250000
max    334.000000